@import url('https://fonts.googleapis.com/css2?family=Nixie+One&family=Spinnaker&display=swap');

* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;
    grid-template-rows: 4.5fr 2fr 4.5fr;
    position: relative;
}

.container {
    /* border: solid red; */
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    
}

.bg-container {
    /* border: solid blue; */
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* width: 100vw; */
    height: 100%;
    /* position: relative;  */
    align-self: flex-end ;
    margin: 0

}

h3,
h1 {
    /* border: solid green; */
    padding: 0%;
    margin: auto;
    color: whitesmoke;
}

.countdown {
    display: flex;
    gap: 5vw;
    text-align: center;

}

.day,
.hrs,
.min,
.sec {
    font-size: 1.5rem;
}

h3 {
    font-size: 0.8em;
    font-family: 'Nixie One';
}

h1 {
    font-family: 'Spinnaker';
}





img {
    height: 75%;
    /* border: solid yellow; */
    
    
}

.top img{
margin: auto auto 0 auto;
}





.bottom img{
    margin: 0 auto auto auto;
}